<%- include("header") -%>

<h2>About Of To-do App</h2>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos cum vel consequuntur ea vitae! Laboriosam ipsam aspernatur deserunt eveniet deleniti quae possimus, temporibus architecto provident odio voluptatum itaque harum doloremque! Magnam dolorem quae quam odit, explicabo nobis aut aperiam recusandae expedita aliquid adipisci facilis cupiditate voluptatum quidem cum! Minima non reiciendis vero magni dignissimos a!</p>

<%- include("footer") -%>